<!DOCTYPE html>
     <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/snakes.css')}}">
        <title>About</title>
        <body>
            <h1>Snake ID</h1>
            <p>Snake id  is a simple machine learning project aiming to identify snakes commonly found in central texas.</p>
            <p>The project was created as part of a Machine Learning group project for the Visualization and Data Analysis course at UT @ Austin </p>
            <p>It utilizes the TensorFlow framework , and TensorFlow Hub to ingest pre trained images. </p>
            <p>for a detailed explanation and tutorial read the <a href='https://www.tensorflow.org/hub/tutorials/image_retraining'> Image retraining tutorial </a> at the TensorFlow website</p>
                <ul>Mauricio Gonzalez</ul>
                <ul>Juan L. Galeazzi</ul>
                <ul>David Marcus</ul>
                <ul>Mukit Samad</ul>
        </body>
    </head>
</html>