#snakes.css
body {
    font-family: Roboto, sans-serif;
    color: #0f3c4b;
    background-color: #eff1e5;
    padding: 5rem 1.25rem; /* 80 20 */
}
.scontainer {
    display:flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.fixed {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}
.flex-item{
    flex-grow: 1;
    max-width: 800px;
}